{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="side-by-side">
    <section id="attending" class="card-background">
      <section class="card">
        <h2>Upcoming Events</h2>
      </section>
      {% include 'partials/_events_list.html' with events=attending %}
    </section>
      <section id="attended" class="card-background">
        <section class="card">
          <h2>Past Events</h2>
        </section>
        {% include 'partials/_past_events.html' with events=attended %}
      </section>
  </main>
{% endblock %}