{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <main class="wrap-content">
    <div class="card-background half-width event-details">
      <section class="card event-header">
        <div class="event-info">
          <h2 class="event-title">{{event.title}}</h2>
          <h3></h3>
        </div>
      </section>
      <section class="card">
          <img src="{% static 'images/image_placeholder.jpg' %}" alt="">
      </section>
      <section class="card">
        <h4 class="event-date">{{event.datetime}}</h4>
        <p class="event-cost">Price: £{{event.cost}}</p>
        <p class="event-description">{{event.description}}</p>
      </section>
      </div>
    </div>
  </main>
{% endblock %}